body, h1, h2, h3{
  font-family: Verdana;
  text-align: center;
}

h1{
  color: White;
  font-weight: normal;
  font-size: 50px;
}

h2{
  color: Gray;
  font-size: 21px;
}

h3{
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

h4{
  text-align: right;
  color: Grey;
}

body{
  background-color: black;
}

.vid, .camp, .icon{
  display: block;
  margin: auto;
}
